@font-face {
  font-family: "BebasNeue";
  src: url(/fonts/BebasNeue.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
    box-sizing: border-box;
}
/* font-family: 'Open Sans', sans-serif; */
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px; 
}
.container {
  max-width: 1440px;
  padding: 0px 5px;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
}
.header__inner {
  background-image: url("../images/header/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41px;
  padding-bottom: 71px;
  max-width: 1440px; 
  text-align: center; 
}
.header__inner-logo {
  padding-bottom: 318px;
}
.header__inner-logo img {
  width: 100px;
  height: 23px;
  cursor: pointer;
}
.header__inner-text {
  padding-bottom: 220px;
}
.heder-text__title {
  font-family: "BebasNeue";
  font-size: 60px;
  letter-spacing: 5.70937px;
  color: #fff;
}
.header-text__discribe {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.header__inner-btn a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 3.7px;
}
.menu {
  margin: 0 auto;
}
.menu__inner {
  background: #FFFFFF;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 250px 23px 250px;
}
.menu__logo img {
  width: 80px;
  height: 18px;
  cursor: pointer;
}
 .menu__list{
  max-width: 410px;
} 
.menu__list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.menu__list-item a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #48555B;
  letter-spacing: 1.1px;
  transition: all 0.3s ease;
} 
.menu__list-item a:hover{
  color: #00A4E5;
}
.menu__list-item + .menu__list-item {
  margin-left: 35px;
}
/* <section class="about"> */
.small__container {
  max-width: 942px;
  padding: 0px 5px;
  margin: 0 auto;
}
.about {
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 100px;
}
.about__inner {
  text-align: center;
  margin-left: 20px;
}
.about__title {
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #48555B;
  letter-spacing: 2.3px;
  position: relative;
}
.about__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  bottom: -10px;
  left: 35px;
}
.about__box-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

}
.about__text-title {
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #48555B;
  letter-spacing: 0.2px;
}
.about__text-title span {
  color: #16ACE8;
}
.about__text-discription {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
  letter-spacing: 0.2px;
}
.about__text-box {
  text-align: left;
  margin-right: 57px;
  padding-right: 10px;
}
.about__contant-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__contant-item {
  position: relative;
}
.about__contant-item img {
  width: 140px;
  height: 244px;
}
.about__contant-item + .about__contant-item {
  margin-left: 10px;
}
.contant__item-title {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0.2px;
}
/* </section class="service"> */
.service {
  margin: 0 auto;
}
.service__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}
.service__top-title {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #48555B;
  letter-spacing: 2.3px;
}
.service__top-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  bottom: -10px;
  left: 0px;
}
.service__top-text {
  margin-left: 155px;
  max-width: 405px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 19px;
  color: #48555B;
  letter-spacing: 0.2px;
}
.service__top-btn a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  background-color: #00A4E5;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  padding: 11px 29px;
  cursor: pointer;
}
.service__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
}
.service__content-item{
  padding: 38px 22px;
  border: 1px solid #E6E6E6;
  margin-left: 13px;
}
.service__item-icon {
  margin-bottom: 25px;
}
.service__item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;;
  color: #48555B;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}
.service__item-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;;
  color: #48555B;
  letter-spacing: 0.2px;
}
/* section class="contact" */
.contact {
  margin: 0 auto;
}
.contact__inner {
  background-image: url("../images/section3-4/bg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 231px;
}
.contact__titel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;;
  color: #48555B;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 35px;
}
.contact__btn {
  background-color: #00A4E5;
  padding: 11px 26px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}
.contact__btn a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}
.newsletter__inner {
  background-color: #171819;
  padding: 0px 30px;
}
.newsletter__inner-box {
  max-width: 685px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.newsletter__titel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;;
  letter-spacing: 0.85px;
  text-align: center;
  color: #fff;
}
.newsletter__form input {
  width: 250px;
  height: 40px;
  border: 1px solid #979797;
  padding: 0px 16px;
}
.newsletter__form input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;;
  letter-spacing: 0.07px;
  color: #48555B;
}
.newsletter__form button {
  background-color: #00A4E5;
  width: 150px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;;
  letter-spacing: 0.07px;
  color: #48555B;
  padding-top: 0px;
}
/* footer class="footer" */
.footer {
  margin: 0 auto;
  color: #ffff;
}
.footer__main-inner {
  background-color: #141A20; 
  padding: 42px 0px 40px;
}
.footer__main-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 930px;
  margin: 0 auto;
  padding-right: 25px;
}
.footer__company {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.85px;
  max-width: 250px;
  margin-right: 71px;
}
.footer__company-title {
  margin-bottom: 19px;
}
.menu__logo {
  margin-bottom: 16px;
}
.footer__links {
  margin-right: 71px;
}
.footer__links ul a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.085px;
  color:#fff;
}
.footer__links-lists {  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} 
.footer__links-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.85px;
  margin-bottom: 10px;
}
.footer__links-fag {
  margin-left: 34px;
}
.footer__links-blog {
  margin-left: 38px;
}
.footer__contact {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.85px;
}
.footer__contact-title {
  margin-bottom: 19px;
}
.footer__contact a {
  color:#fff;
}
.footer__contack-text {
  margin-bottom: 20px; 
}
.footer__contact-tel {
  margin-bottom: 20px; 
}
.footer__social img {
  width: 12px;
  height: 12px;
  margin-top: 40px;
}
.footer__social img {
  margin-left: 25px;
}
.footer__company-inner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.85px;
  text-align: center;
  background-color: #171819;
  padding: 22px 0px 23px;
}

/* adaptiv */

@media (max-width: 600px) {
  .heder-text__title {
    font-size: 40px;
  }
  .header-text__discribe {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .header__inner-text {
    padding-right: 10px;
    padding-left: 10px;
  }
}
